<div class="container">

<div class="col-sm-6">
            <div class="panel panel-default">
                <div class="panel-heading" id="lefttside"><strong>List of Burgers</strong>
                </div>
                <div class="panel-body">
                    <ul>
                        {{#each burgers}}
                        {{#if devoured}}
                        <span><strong> {{this.id}} - {{this.burger_name}}</strong></span>
                        <button type="button" class="trashburger btn btn-danger" id="trashbutton" data-id="{{this.id}}"
                            data-newDevoured="{{devour}}"><span class="fa fa-trash"></span></button>
                        <hr>
                        {{/if}}
                        {{/each}}
                    </ul>
                </div>
            </div>
        </div>
   
    <div class="row">
        <div class="col-sm-6">
            <div class="panel panel-default">
                <div class="panel-heading" id="righttside"><strong>Devoured Burgers</strong>
                </div>
                <div class="panel-body">

                    <ul>
                        {{#each burgers}}
                        {{#unless devoured}}

                        
                        {{/unless}}
                        {{/each}}
                    </ul>

                </div>
            </div>
        </div>
        
 <div class="jumbotron">
        <h1>Eat-Da-Burger </h1>
        <p>Burger Orders for Pickup.</p>
        <br>
        <br>
        <textarea placeholder="Post Body" class="form-control" rows="10" id="body"></textarea>
    <span><strong> {{this.id}} - {{this.burger_name}}</strong></span>
                        <button type="button" class="eatburger btn btn-warning" id="eatbutton" data-id="{{this.id}}"
                            data-newDevoured="{{devour}}"><span class="fa fa-usd"></span></button>
                        <hr>
                        </div>
    </div>
    <!--endrow -->
</div>
<!--endcontainer -->